html {
  color-scheme: light dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #93eff7;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box {
  width: 50em;
  height: 25em;
  background-color: #ffffff;
  color: #4a4a4a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(231, 4, 4, 0.89);
  text-align: center;
}